<header class="fixed flex top-0 left-1/2 -translate-x-1/2 h-[80px] z-10 bg-[#080808] w-full">
 <div class="layoutW  max-lg:!w-full mx-auto flex justify-between my-auto">
  <a href="/" class="text-[1.563rem] my-auto block h-fit">
   <h1 class="t1 macondo"> ZEN SUSHI</h1>
  </a>
  <div
   class="links flex my-auto lg:gap-[50px] right-0 top-0 max-lg:fixed max-lg:h-[100vh] max-lg:bg-[#080808] max-lg:flex-col max-lg:w-[50vw] max-md:w-[100%] max-lg:translate-x-[100%] z-10"
   #links>
   <div class="flex-col h-[80px] justify-center hidden max-lg:flex max-md:mx-auto">
    <img src="/assets/close.svg" alt="" class="block h-[25px] w-fit md:ml-[40px] arrow" (click)="hideHeader()">
   </div>
   <a href="/">HOME</a>
   <a href="/about">ABOUT</a>
   <a href="/menu">MENU</a>
   <a href="/gallery">GALLERY</a>
  </div>
  <div class="flex-col h-[80px] justify-center mr-[7.5vw] hidden max-lg:flex z-0">
   <img src="/assets/more.svg" alt="" class="block h-[25px] w-fit ml-[20px] arrow" (click)="showHeader()">
  </div>
 </div>
</header>