header {
  @media screen and (max-width: 1024px) {
    width: 100% !important;
    padding-left: 7.5vw;
  }
}

.links {
  transition: all 0.3s;
  a {
    transition: all 0.3s;
    @media screen and (max-width: 1024px) {
      padding: 20px 40px;
    }
    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }
  a:hover {
    color: #f77f00;
    @media screen and (max-width: 1024px) {
      background-color: #121214;
    }
  }
}

.arrow {
  opacity: 80%;
  transition: all 0.3s;
}

.arrow:hover {
  cursor: pointer;
  opacity: 100%;
  transform: translateY(-5px);
}
