<app-page-header text="About us" />
<app-img-info src="sushi1.jpg" class="min-h-[450px] flex">
 <p>Welcome to Zen Sushi, where culinary artistry meets tranquility. Nestled in the heart of the city, Zen Sushi is your
  oasis of Japanese cuisine, offering an unforgettable dining experience that stimulates the senses and nourishes the
  soul.</p>
 <p>Our story began with a shared passion for the delicate art of sushi-making and a deep reverence for Japanese
  culinary traditions. At Zen Sushi, we strive for perfection in every roll, every slice, and every dish we serve.</p>
 <p>Led by a team of master chefs with decades of experience, Zen Sushi is a haven for food enthusiasts seeking the
  finest in Japanese gastronomy. From meticulously crafted nigiri to innovative specialty rolls, our menu reflects our
  dedication to quality, creativity, and authenticity.</p>
</app-img-info>
<app-img-info src="sushi1.jpg" class="min-h-[450px] flex" [reverse]="true">
 <p>But Zen Sushi is more than just a restaurant; it's a sanctuary for mindfulness and connection. Step inside, and
  you'll be enveloped in an atmosphere of serenity and grace, where the stresses of the outside world melt away with
  each bite.</p>
 <p>Whether you're dining solo, sharing a meal with loved ones, or celebrating a special occasion, our warm and
  attentive staff are here to ensure that your experience at Zen Sushi is nothing short of extraordinary.</p>
 <p>Join us on a journey of culinary exploration and discovery at Zen Sushi, where every dish is a masterpiece and every
  moment is an opportunity to find your Zen.</p>
</app-img-info>