<div class="w-full h-[400px] overflow-hidden relative" #cont>
  <img src="/assets/question.png" alt="" class="h-[100vh] w-full object-cover max-sm:translate-y-[100px]" #img>
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col">
    <h1 class="text-center macondo t1 text-[2.5rem] w-[80vw]">Have a question?</h1>
    <p class="mt-[10px] text-center">Call us: <a href="tel:607761708" class="t2">607 761 761</a> or email: <a
        href="mailto:m.gondorek.kontakt@gmail.com" class="t2">m.gondorek.kontakt&#64;gmail.com</a>
    </p>
  </div>
</div>