<footer>
 <div class="grid grid-cols-6">
  <img src="/assets/sushi1.jpg" alt="" class="object-cover w-full aspect-square block">
  <img src="/assets/sushi1.jpg" alt="" class="object-cover w-full aspect-square block">
  <img src="/assets/sushi1.jpg" alt="" class="object-cover w-full aspect-square block">
  <img src="/assets/sushi1.jpg" alt="" class="object-cover w-full aspect-square block">
  <img src="/assets/sushi1.jpg" alt="" class="object-cover w-full aspect-square block">
  <img src="/assets/sushi1.jpg" alt="" class="object-cover w-full aspect-square block">
 </div>
 <div class="flex h-[70px] bg-[#101012]">
  <p class="w-fit self-center mx-auto font-light">Created by <a href="https://mpages.pl"
    class="t2 opacity-80 hover:opacity-100 font-light">mpages.pl</a></p>
 </div>
</footer>