<div class="mt-[80px] py-[40px] bg-[#111012]">
 <h1 class="macondo text-[2.188rem] t1 mx-auto w-fit">Testimonials</h1>
 <div class="layoutW grid grid-cols-3 gap-[20px] mt-[50px]">
  <app-comment name="Tyler Anderson" role="Taste Quest Magazine" src="sushi1.jpg"
   desc="Absolutely love Zen! The sushi here is always fresh and delicious, and the presentation is impeccable. Highly recommend the dragon roll and the miso soup!" />
  <app-comment name="Flavors & Feasts" role="Flavors & Feasts" src="sushi1.jpg"
   desc="Had an amazing dining experience at Zen! The atmosphere is cozy, the staff is friendly, and the sushi is top-notch. Don't miss out on their signature rolls—they're simply divine! " />
  <app-comment name="Ethan Miller" role="FoodNetwork" src="sushi1.jpg"
   desc="I can't get enough of Zen! The quality of the sushi is outstanding, and the variety on the menu is impressive. Whether you're a sushi aficionado or trying it for the first time, this place won't disappoint!" />
 </div>
</div>