<div class="relative h-[calc(100vh-80px)]">
 <img src="/assets/main.jpg" alt="" class="h-full w-full object-cover block ">
 <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col gap-[15px] max-w-[90vw]">
  <h2 class="macondo t2 w-fit mx-auto text-[1.875rem]">WELCOME TO ZEN</h2>
  <h1 class="w-fit mx-auto text-[2.5rem] text-center">JAPANESE RESTAURANT & SUSHI BAR</h1>
  <p class="w-[500px] max-w-[100%] mx-auto text-[1.125rem] text-center">We're delighted to have you here. Explore our
   menu filled
   with delicious
   sushi rolls,
   sashimi, and more.</p>
  <app-button class="mx-auto" text="Check our menu" link="/menu" />
 </div>
</div>