<app-main />
<app-img-info src="locale.jpg">
 <h1 class="macondo text-[2.188rem] t1">About us</h1>
 <p>Welcome to Zen sushi, your ultimate destination for authentic Japanese dining experiences. At Zen sushi, we are
  passionate about bringing the finest flavors of Japan to our guests, combining traditional techniques with innovative
  culinary creations.</p>
 <p>Our journey began with a shared love for sushi and Japanese cuisine. With years of experience in the art of
  sushi-making and a commitment to quality ingredients, we set out to create a culinary haven where food enthusiasts can
  indulge in the freshest sushi and savor the rich flavors of Japan.</p>
 <p>Zen sushi is more than just a restaurant; it's a celebration of Japanese culture and gastronomy. Our talented chefs
  meticulously craft each dish, ensuring that every bite is a symphony of taste and texture. From classic sushi rolls to
  signature creations, we strive to offer a diverse menu that caters to every palate.</p>
 <a href="/about" class="ml-auto opacity-70 hover:opacity-100 cursor-pointer t1 text-[1.125rem] font-normal">More</a>
</app-img-info>
<app-menu />
<app-question />
<app-gallery />
<app-testimonials />