.line {
  height: 50px;
  width: 1px;
  background-color: #e7e7e781;
  @media screen and (max-width: 1024px) {
    height: 1px;
    width: 80%;
    margin: auto;
  }
}

h1 {
  transition: all 0.3s;
  user-select: none;
}

h1:hover {
  transform: translateY(-3px);
}
